/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

/* Container */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
}

/* Header */
header {
  background-color: #2d89ef;
  color: white;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  color: black;
}

.banner {
  text-align: center;
  background-color: #fdce12;
  color: #2088c5;
  font-weight: bold;
  font-size: 18px;
  padding: 10x;
}